# CODEOWNERS file for Dynamo
#
# DO NOT ADD ANY INDIVIDUALS. The groups here are all teams: https://github.com/orgs/ai-dynamo/teams

*.rs @ai-dynamo/dynamo-rust-codeowners
Cargo.toml @ai-dynamo/dynamo-rust-codeowners

# Python Libraries
*.py @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Container/Environments
/container/ @ai-dynamo/Devops @ai-dynamo/dynamo-rust-codeowners @ai-dynamo/python-codeowners @ai-dynamo/dynamo-deploy-codeowners

# Examples
/examples/ @ai-dynamo/Devops @ai-dynamo/dynamo-rust-codeowners @ai-dynamo/python-codeowners
/examples/multimodal/ @ai-dynamo/python-codeowners @ai-dynamo/Devops

# Dynamo deploy
/deploy/ @ai-dynamo/dynamo-deploy-codeowners
/examples/*/deploy/ @ai-dynamo/dynamo-deploy-codeowners
/examples/backends/*/deploy/ @ai-dynamo/dynamo-deploy-codeowners
# CI/CD
/.github/ @ai-dynamo/Devops
/.github/workflows/*.ps1 @ai-dynamo/Devops
CODEOWNERS @ai-dynamo/Devops

# Planner
/components/src/dynamo/planner/ @ai-dynamo/python-codeowners @ai-dynamo/Devops
/benchmarks/profiler/ @ai-dynamo/python-codeowners @ai-dynamo/Devops
/tests/planner/ @ai-dynamo/python-codeowners @ai-dynamo/Devops

# recipes

/recipes/ @ai-dynamo/python-codeowners @ai-dynamo/Devops @ai-dynamo/dynamo-deploy-codeowners

# Legal
/ATTRIBUTIONS-Rust.md @ai-dynamo/Devops
/ATTRIBUTIONS.md @ai-dynamo/Devops
/CODE_OF_CONDUCT.md @ai-dynamo/Devops
/CONTRIBUTING.md @ai-dynamo/Devops
/LICENSE @ai-dynamo/Devops
/SECURITY.md @ai-dynamo/Devops
